header {

    background-color: #FFFBBC;
    align-items: center;
    display: flex;
    text-align: center;
    color: #004641;
    height: 100vh;

    img {
        width: 20%;
        margin-bottom: 10px;
    }


}