// MEDIA QUERY: 878PX

@media (max-width: 878px){

    body {

        img {
            height: 40vh;
            width: auto;
        }

        h1,
        h2,
        h3,
        h4 {
            margin: 0 0 20px 0;
        }

        h1 {
            font-size: 6.3rem;
        }

        h2 {
            font-size: 2.5rem;
        }

        h3 {
            font-size: 5rem;
        }

        label {
            font-size: 2.5rem;
        }
        
        .qna {
            width: 100%;
        }

        .image {
            display: none;
        }

    }

}

// MEDIA QUERY: 500PX 

@media (max-width: 500px){

    body {

        h1 {
            font-size: 6rem;
        }

        h2 {
            font-size: 2rem;
        }

        h3 {
            font-size: 5rem;
        }

        label {
            font-size: 2.5rem;
        }
        
    }

}