@import "setup";
@import "header";
@import "main";
@import "footer";
@import "media";

a {
    color: white;
}

a:active,
a:focus-within,
a:hover {
    color: darkgrey;
}

body {
    background-color: #00958B;
}

html {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 62.5%;
    color: #FFFBBC;
}

h1,
h2,
h3 {
    font-family: 'Amatic SC', cursive;
}

h1 {
    font-size: 8rem;
    margin: 0;
}

h2 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2.5rem;
    font-weight: lighter;
    margin: 0;
}

h3 {
    font-size: 4.5rem;
}

h4 {
    font-family: 'Amatic SC', cursive;
    font-size: 8rem;
    margin: 10vh;
    color: red;
    text-align: center;
    height: auto;
    align-content: center;
}

h5 {
        font-size: 2rem;
        font-weight: lighter;
        padding: 15px;
        margin: 0;
}

label {
    font-size: 2.5rem;
    margin: 0;
}

p {
    font-size: 4rem;
    color: black;
    margin-top: 0;
    margin-bottom: 100px;
    color: black;
    text-align: justify;
    font-family: 'Amatic SC', cursive;
}

.wrapper {
    margin: 0 auto;
    max-width: 1080px;
    width: 75%;
}