@import "setup";
@import "header";
@import "main";
@import "results";
@import "footer";
@import "media";


// font-family: 'Amatic SC', cursive;
// font-family: 'Gloria Hallelujah', cursive;
// font-family: 'Architects Daughter', cursive;
// font-family: 'Permanent Marker', cursive;

a {
    color: white;
}

a:hover {
    color: yellow;
}

body {
    background-color: #00958B;
}

html {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 62.5%;
    color: #FFFBBC;
}

h1,
h2,
h3 {
    font-family: 'Amatic SC', cursive;
}

h1 {
    font-size: 8rem;
    margin: 0;
}

h2 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2.5rem;
    font-weight: lighter;
    margin: 0;
}

h3 {
    font-size: 4.5rem;
}

h4 {
    font-family: 'Amatic SC', cursive;
    font-size: 8rem;
    color: red;
}

h5 {
        font-size: 2rem;
        font-weight: lighter;
        padding: 15px;
        margin: 0;
}

label {
    font-size: 2.5rem;
    margin: 0;
}

p {
    font-size: 3rem;
    color: black;
}

.wrapper {
    margin: 0 auto;
    max-width: 1080px;
    width: 75%;
}